*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agbalumo", system-ui;
    font-weight: 300;
}


.body_menu {
    background-color: white;
    display: flow-root; 
    margin: 0;
    padding: 0;
     background-color: beige; 
}

.plats{
    width: 100%;
    text-align: center;
    display: flex;
    padding: 0;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.categorie{
   height: 500px;
}

.plat-nom{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 500px;
}

.etiquette{
    /* display: flex; */
    /* top: 50px; */
    color: black;
    list-style: none;
}

.plat2{
    color: black;
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Fira Sans';   
    color: #000000;
    margin-top: 30px;
    color: black;
}

.image-plat{
    width: 50px;
    max-width: 100%;

}

.plats div {
    padding: 0 25px;
}

/*Suite code*/



.Menu_1_1 {
    font-family: sans-serif;
    font-size: 3em;
    margin: 70px 50px 70px;
}

.H3 {
    color: #000000;
    font-size: 1.8em;
    text-align: center;
    margin: 80px 0 80px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    background-color: burlywood;
}



.CASE {
    box-shadow: 8px 10px 2px 1px rgb(168, 168, 168);
    display: flex;
    background-color: #ffffff;
    margin: 0 20px;
    width: 100%;
    border-radius: 10%;
    height: 300px;
}

.IMAGES {
    height: 300px;
    border-radius: 25px;
    width: 500px;
    padding: 15px;
    background-color: #000000;
}


.DIV_1 {
    width: 100%;
}

.DIV_2 {
    display: inline-block;
    align-items: center;
}

.prix{
    color: black;
}

/*Image cliqueable section*/

body{
background-color: beige;

}
.class_img_2{
width: 500px;
}

.section_class_img{
max-width: 100%;
}
.class_img{
width: 500px;
height: 500px;
}